<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add</title>
</head>
<body>
    <form action="/save_edit.html" method="POST">
        <input type="hidden" name="id" value="<%=news._id%>">标题</input>
        <div>
            <input type="text" name="title" value="<%=news.title%>">标题</input>
        </div>
        <div>
            <input type="text" name="content" value="<%=news.content%>">内容</input>
        </div>
        <div>
            <input type="submit"></input>
        </div>
    </form>
    
</body>
</html>
